@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #010038;
  --color-1: #293A80;
  --color-2: #537EC5;
  --color-3: #F39422;
}

::-webkit-scrollbar{
  display: none;
}

:root {
  scroll-behavior: smooth;
}


/* #main-container{
  background-image: url('./assets/background1.webp');
  background-repeat: no-repeat;
} */
/* 
#backGround{
  background-image: url('./assets/background3.webp');
  background-size: cover;
    opacity: 0.3;
    /* background-position: center; */

} */